html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Source Serif Pro', serif;
    background-image: url(./Media/BackgroundImage1.png);
}

header {
    background-color: #b2967d;
}

.navbar {
    background-color: #ecf8f8;
    opacity: 0.8;
    z-index: 100;
    box-shadow: rgb(178, 150, 125, 0.8) 0px 3px;
    border-top: solid 3px rgb(178, 150, 125, 0.8);
}

#landing-banner {
    border: solid 3px, 0, 3px, 0 rgb(255, 241, 230, 0.4);
}

.navbar-nav nav-item .nav-link {
    color: #cc6510;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#bio-section {
    background-color: rgb(255, 241, 230, 0.4);
    width: 100%;
    padding: 2rem;
    border: solid 3px, 0, 3px, 0 rgb(255, 241, 230, 0.4);
}

figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure:hover img {
    opacity: .5;
}

.review-header {
    background-color: rgb(221, 190, 169, 0.5);
}

#review-section {
    height: 100%;
    width: 100%;
}

#carousel-reviews {
    background-color: rgba(216, 226, 226, 0.9);
}

#gallery {
    box-shadow: rgb(178, 150, 125, 0.5) 0px 2px;
    border-top: solid 3px rgb(178, 150, 125, 0.5);
}

#gallery .img {
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
}